@use "../breakpoints" as bp;

.cards-container {
  padding: 1rem;

  .cards-grid {
    display: grid;
    gap: 1rem;
    @include bp.desktop {
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      column-gap: 5rem; // horizantal
      row-gap: 1rem; //vertical
    }

    @include bp.tablet {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
    }

    @include bp.mobile {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
    }
  }

  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    background: #fff;
  }
}
