@use "../breakpoints" as bp;

.cards-container {
  padding: 1rem;

  .cards-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    // Desktop
    @include bp.desktop {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    // Tablet
    @include bp.tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    // Mobile
    @include bp.mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }

  .cards-row {
    display: flex;
    gap: 1rem;

    &.three {
      justify-content: space-between;

      .card {
        flex: 0 0 calc(33.33% - 1rem);
        max-width: calc(33.33% - 1rem);
      }
    }

    &.two {
      justify-content: center;

      .card {
        flex: 0 0 30%;
        max-width: 30%;
      }
    }

    &.one {
      justify-content: center;

      .card {
        flex: 0 0 30%;
        max-width: 30%;
      }
    }
  }

  .card {
    border: none;
    border-radius: 0px;
    overflow: hidden;
    text-align: center;
    background: #fff;
  }
}
