@use "../breakpoints" as bp;

.header {
  padding: 1rem 0;

  .logo-left,
  .logo-center {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .nav {
    display: flex;
    gap: 1rem;

    @include bp.mobile {
      display: none;
    }
    @include bp.tablet {
      display: none;
    }
    @include bp.desktop {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .menu-btn {
    display: none;

    @include bp.mobile {
      display: block;
    }
    @include bp.tablet {
      display: block;
    }
    @include bp.desktop {
      display: none;
    }
  }

  .header-icons {
    font-size: 1.2rem;
    a {
      color: black;
      &:hover {
        color: #0d6efd;
      }
    }
  }

  // --- Layout Adjustments ---
  @include bp.desktop {
    .logo-left {
      display: block;
      text-align: left;
    }
    .logo-center {
      display: none;
    }
  }

  @include bp.mobile {
    .logo-left {
      display: none;
    }
    .logo-center {
      display: block;
      text-align: center;
      width: 100%;
    }
  }

  @include bp.tablet {
    .logo-left {
      display: none;
    }
    .logo-center {
      display: block;
      text-align: center;
      width: 100%;
    }
  }

  .search-container {
    width: 100%; //  full width
    display: flex;
    justify-content: flex-end; // input at the right
    padding: 10px;

    .search-box {
      display: flex;
      border: 1px solid #ddd;
      border-radius: 50px;
      overflow: hidden;

      input {
        border: none;
        outline: none;
        padding: 8px 15px;
        flex: 1;
        border-radius: 50px 0 0 50px;

        &:focus {
          box-shadow: none;
        }
      }

      button {
        border-radius: 0 50px 50px 0;
      }
    }

    @include bp.mobile {
      .search-box {
        width: 100%;
      }
    }

    @include bp.tablet {
      .search-box {
        width: 100%;
      }
    }

    @include bp.desktop {
      .search-box {
        width: 30%;
      }
    }
  }
}
